.sec-typewriter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* Typing */
.intro-typewriter h1 {
  width: 100%;
  color: #fff;
  font-family: monospace;
  font-size: 1.5rem;
  overflow: hidden;
  border-right: 0.15em solid #ccc;
  white-space: nowrap;
  margin: 0 auto;
  margin-bottom: 30px;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  user-select: none;
  transition: 0.5s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ccc;
  }
}
@media only screen and (max-width: 768px) {
  .intro-typewriter h1 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 550px) {
  .intro-typewriter h1 {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 400px) {
  .intro-typewriter h1 {
    font-size: 0.8rem;
  }
}
